@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-absolute-black text-stark-white antialiased overflow-x-hidden;
  }
}

@layer utilities {
  .unicase {
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  .outline-text {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
  }
}

/* Custom Scrollbar for wrappers */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
